.container {
  margin: 0 auto;
  padding: 0 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarPic {
  width: 100%;
}